# Distributable
node_modules/
lib/

# Coverage
.nyc_output/
coverage/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-debug.log

# IDE
*.code-workspace
.vscode/

# Integration tests
__tests__/projects/**/egcache